*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --text-color: white;
    --bg-url: url(./assets/background/bg-mobile.jpg);
    --stroke-color: rgba(255,255,255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.05);
    --surface-color-hover: rgba(255, 255, 255, 0.02);
    --hover-color: rgba(255, 255, 255, 0.2);
    --switch-bg: url(./assets/icons/moon.svg);
}

.light{
    --text-color: black;
    --bg-url: url(./assets/background/bg-mobile-light.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --hover-color: rgba(0, 0, 0, 0.1);
    --switch-bg: url(./assets/icons/sun.svg);
}


body{
    background-image: var(--bg-url);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

body *{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container{
    width: 100%;
    max-width: 588px;
    border: px solid snow;
    border-radius: 5px;
    margin:56px auto 0;
    padding:0 24px;
}

#profile{
    text-align: center;
}

#profile img{
    width: 112px;

}

#profile p{
    font-weight: 500;
    font-size:24px;
    margin-top:8px;
    margin-bottom: 8px;
}

#arroba {
    text-align: center;
    font-weight: 500;
    font-size:18px;
    margin-top:8px;
    margin-bottom: 20px;
    text-decoration: none;
}

#switch{
    position:relative;
    width:64px;
    margin: 4px auto;
}


#switch button{
    height:32px;
    width:32px;
    background: white var(--switch-bg) no-repeat center;
    border:0;
    border-radius:50%;

    position: absolute;
    top:50%;
    z-index:1;
    transform: translateY(-50%)
}

.light #switch button{
    right: 0;
}

#switch span{
    display:block;
    height:24px;
    width:64px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;


}

#id p{
    font-size:12px;
}

ul{

    list-style: none; 

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
   
}

ul li a{
   
    display: flex;
    justify-content: center;

    align-items: center;

    padding: 16px 24px;    
    
    background: var(--surface-color);
    border: 2px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;
    
    transition: all 0.5s;
}

ul li a:hover{
    background: var(--surface-color-hover);
    transform: scale(1.1);
    border: 1.5px solid var(--text-color)
}

#social-links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    padding:24px 0;
}

#social-links a{
    transition: all 0.5s;
    align-items: center;
    justify-content: center;
    padding:16px;
    border-radius:50%
}

#social-links a:hover{
   background-color: var(--hover-color);
   transform: scale(1.05);

}

footer p{
    text-align: center;
    font-size:12px;
    font-weight:300;
}

@media (min-width: 700px){
    :root{
        --bg-url: url(./assets/background/bg-desktop.jpg);
    }

    .light{
        --bg-url: url(./assets/background/bg-desktop-light.jpg);
    }
}